.sizes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0px;
}

.sizes button{
    width: 70px;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.sizes button:hover{
    background-color: #fff;
    color: #000;
}

.sizes button:disabled{
    background-color: #808080;
    cursor: not-allowed;
    color: #fff;
}
.sizes button.activeSize {
    background-color: #f22e52; /* Warna latar belakang saat tombol aktif */
    color: #fff; /* Warna teks saat tombol aktif */
}

.displayStock{
    margin: 10px 0px;
}

.cart{
    width: 100%;
    min-width: fit-content;
    background-color: #f22e52;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
}

.cart:hover{
    background-color: #fff;
    color: #000;
}

.cart:disabled{
    background-color: #808080;
    cursor: not-allowed;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}
