.outerDetailProducts{
    box-sizing: border-box;
    padding: 150px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.productImage{
    min-width: 300px;
    height: 600px;
    flex: 1;
    border-radius: 8px ;
}

.right{
    width: 500px;
    flex: 1;
}

.productName{
    font-size: 30px;
    margin-bottom: 20px;
}

.productGenderAndCategory{
    margin-bottom: 10px;
}

.price{
    font-size: 20px;
    margin-bottom: 20px;
    color: #f22e52;
}

.productDescription{
    margin-bottom: 50px;
}