.updateStock{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.itemUpdateStock{
    display: flex;
    gap: 10px;
    align-items: center;
}

.labelSize{
    text-align: left;
    color: #fff;
}

.inputStock{
    max-width: 100px;
}

.submitUpdate{
    align-self: self-end;
    max-width: 160px;
    justify-content: center;
    background-color: #f22e52;
}

.submitUpdate:disabled{
    align-self: self-end;
    max-width: 160px;
    justify-content: center;
    background-color: #808080;
    color: #fff;
    cursor: not-allowed;
}