@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jacquard+24&family=Sedan+SC&display=swap');

.header {
  background-color: #222831;
  height: 93px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 99;
  box-sizing: border-box;
  padding-left: 54px;
  padding-right: 54px;
}

.text-wrapper-12 {
  color: #ffffff;
  font-family: "Jacquard 24", system-ui;
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  text-decoration: none;
}

.text-wrapper-12:hover{
  color: #d6e2ad;
}

.tengah {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.text-wrapper-10 {
  color: #ffffff;
  font-family: "Sedan SC", serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  height: 17px;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 76px;
  text-decoration: none;
}

.text-wrapper-11 {
  color: #ffffff;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  height: 17px;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 99px;
  text-decoration: none;
}

.text-wrapper-11:hover {
  color: #ddc1e8;
}

.text-wrapper-10:hover {
  color: #a1c5f8;
}

.kanan {
  right: 0%;
  top: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 25px;
}

.profile-icon:hover{
  cursor: pointer;
}

.iconSearch:hover,
.iconChart:hover,
.iconProfile:hover {
  fill: #d6e2ad;
}